@*@model List<BibliotecaAdmApp.Core.Entities.Book>*@
@model List<BibliotecaAdmApp.Application.Books.Dto.BookDto>

@{
    ViewData["Title"] = "Livros";
}

<h1>Lista</h1>

<p>
    <a asp-action="Create" >Adicionar novo livro</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Category)*@
                Category
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Name)*@
                Name
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Author)*@
                Author
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Pages)*@
                Pages
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Status)*@
                Status
            </th>            
            <th>
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pages)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>                
                <td>
                    <a asp-action="Update" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>     
                </td>
            </tr>
        }
    </tbody>
</table>
